.home-container{
  display: grid;
  grid-template: subgrid;
  grid-template-columns: repeat(10, 10%);

  grid-row: 2 / 11;
  grid-column: 1 / 11;
}
.main{
  display: grid;
  grid-template: subgrid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 100px);
  grid-row: 1 / 6;
  grid-column: 1 / 8;
}
.background{
  display: flex;
  object-fit: cover;
  grid-row: 1 / 11;
  grid-column: 1 / 1;

}
.background > img{
}
.content{
  grid-row: 2  / 9;
  grid-column: 2 / 10;
  background-color: white;
;
}
.right-sidebar{
  background-color: red;
  grid-row: 1 / 8;
  grid-column: 8 / 11;

}
.right-sidebar div{
  
}