.wrapper_navbar{
  position: sticky;
  margin: 0px ;
  padding: 0px;
}

.navbar{
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar_list{
  margin: 0px;
  padding-right: 100px;
  display: flex;
  width: fit-content;
}
.navbar_item{
  list-style: none;
  padding: 10px;
  font-size: 30px;
}