.body{
  background-color: azure;
  height: 100vh;
}
.nav_bar{
  margin: 0px;
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-end;
  background: deepskyblue;
  border-bottom:2px solid red;
}
.nav_list{
  display: flex;
  margin: 0;


  padding-right: 100px;
  width: fit-content;
}
.nav_list span{
  margin: 0px;
  display: flex;
  list-style: none;
  flex-direction: row;
}
.nav_list span:hover{
  border-left: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
}
.nav_link{
  padding: 10px;
  font-size: 30px;
}


